<section class="container">
<article>
<div class="col-md-4 mx-auto card my-4">
    <h3 class="h3 text-uppercase font-weight-bold my-4 pt-2 text-center">Login</h3>

    <form action="/auth/login" method="POST">

        
         <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required ></div>
         <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
         </div>
        
        
        <div class="form-group">
            <button class="btn btn-dark btn-block my-4">Login</button>
        </div>
    </form>



</div>

</article>

</section>