<section class="container">
<article>
<div class="col-md-4 mx-auto card my-4">
    <h3 class="h3 text-uppercase font-weight-bold my-4 pt-2 text-center">Register</h3>

    <form action="/auth/register" method="POST">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
         <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
         <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
<div class="form-group">
            <label for="password2"> confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2">
        </div>
        <div class="form-group">
            <button class="btn btn-dark btn-block">Register</button>
        </div>
    </form>



</div>

</article>

</section>